$black: #000000;
$white: #FFFFFF;

$text: #697a8d;
$shadow: #E4E7F2;
$border: #d9dee3;
$border-focus: #696cff;
$menu-shadow: rgb(161 172 184 / 15%);
$autofill: rgba(55, 75, 118, 0.7);
$scrollbar: #f5f5f5;
$scrollbar-thumb: #555555;
$background-body: #F2F2FD;

$orange-1: #F4A425;
$orange-2: #FCE8C9;

$red-1: #FF3E1D;
$red-2: #F02E00;
$red-3: #FFE0D8;

$green-1: #19C964;
$green-2: #DFFBEB;

$light-blue-1: #0072F5;
$light-blue-2: #DEEDFF;

$navy-blue: #374B76;

$gray-1: #8D97AD;
$gray-2: #AAB1C2;
$gray-3: #E4E7F2;
$gray-4: #F7FAFB;

$purple-1: #696cff;
$purple-2: #595cd9;
$purple-3: #5f61e6;
$purple-4: #e7e7ff;
$purple-shadow: rgb(105 108 255 / 40%);

