@import "../../../../../assets/styles/base/variables";
@import "../../../../../assets/styles/base/mixins";

.menu-wrapper {
  display: flex;
  align-items: center;
  height: 100px;
  padding-left: 35px;
  position: relative;
  min-width: 400px;
}

.menu-wide {
  height: 100%;
  display: flex;
  align-items: center;

  li {
    margin-right: 30px;

    a, span {
      transition: all 0.3s ease-in-out;
      font-weight: $font-bold;
      color: var(--text);
      cursor: pointer;
      padding-bottom: 0;

      &:hover, &.active {
        border-bottom: 2px solid var(--link);
        padding-bottom: 15px;
        color: var(--link);
        i{
          color: var(--link);
        }
      }
    }

    i {
      color: var(--text);
      margin-right: 2px;
      font-size: 1.1rem;
    }
  }
}




